<section class="about-me container">
  <h2 class="section__heading">про мене</h2>
  <div class="about-me__card">
    <div class="about-me__wrapper">
      <h3 class="about-me__heading">МУДРА СВІТЛАНА ВАЛЕРІЇВНА</h3>
      <img class="about-me__image" src="./images/exp_img.jpg" alt="" />
    </div>
    <p class="about-me__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa quo
      repellendus culpa ut unde officiis, at vitae, perferendis, ipsum eius illo
      expedita! Reiciendis vitae voluptatum mollitia et impedit nesciunt ratione
      expedita blanditiis aspernatur similique. Culpa obcaecati repellat
      reiciendis perspiciatis doloribus illo atque dicta, ducimus voluptates
      dignissimos nobis natus similique nemo, sapiente dolore minus enim amet
      libero quae eos facilis expedita iusto. Deleniti, fugiat nam iure
      explicabo animi beatae optio necessitatibus voluptates nulla suscipit?
      Vitae suscipit doloremque facilis officia deserunt ab mollitia, magnam,
      ducimus molestiae unde eius numquam tempora voluptatibus voluptas itaque
      sequi accusamus necessitatibus modi? Atque voluptatum laborum mollitia
      odio? Voluptatibus porro quis odit, facilis praesentium architecto
      consequatur dolores, odio magnam, pariatur deleniti magni recusandae
      libero maiores nostrum iusto? Doloremque deleniti mollitia repellendus
      soluta fuga, quae quia cupiditate impedit ab, sunt incidunt quas? Quia
      voluptatem excepturi iste at earum eaque eius aut nulla non, repellendus
      ut ipsa doloremque maxime provident officiis magnam, autem dolorum
      deleniti tempore ab tempora, impedit corrupti. Aliquam distinctio sequi
      deleniti fuga optio numquam rerum laboriosam. Ipsum assumenda laboriosam
      sint id, perspiciatis porro! Culpa distinctio doloremque laborum
      consequatur ipsum quae esse tempore illum tempora, quaerat provident in
      facere velit odio deleniti, similique modi officiis! Reprehenderit, autem
      commodi.
    </p>
  </div>
</section>
