<div class="container container--article">
    <article class="article article--reverse">
      <h3 class="service__heading article__heading--reverse">
        КОРПОРАТИВНІ СПОРИ
      </h3>
      <p>
        Досить часто в процесі здійснення господарської діяльності його
        учасники не приділяють достатньої уваги належному оформленню
        корпоративних документів. Наслідком цього є виникнення конфліктних
        ситуацій, що прийнято називати корпоративними конфліктами.
      </p>
    </article>
  </div>