<div class="container container--article">
  <article class="article">
    <h3 class="service__heading service__heading--article">
      ДОСУДОВЕ УРЕГУЛЮВАННЯ <br />
      СПОРІВ
    </h3>
    <p class="paragraph--top">
      Між правопорушенням і судовим розглядом спорів не варто ставити знак
      дорівнює. Вашим варіантом вирішення конфлікту може стати його досудове
      врегулювання.
    </p>

    <p>
      В Україні даний порядок не є обов’язковим. Проте в деяких країнах,
      навпаки, сторони законодавчо зобов’язані спочатку здійснити спробу
      вирішити конфлікт у досудовому порядку, перш ніж звертатися до суду.
    </p>

    <p>
      Зазначений порядок є найменш затратною процедурою вирішення конфліктів з
      огляду на його тривалість та фінансові витрати.
    </p>

    <p>
      Так, правовласник, виявивши порушення своїх прав, може звернутися до
      правопорушника із претензією/вимогою про припинення порушення. Таким
      чином, правовласник безпосередньо розпочне сам процес досудового
      врегулювання та може запропонувати вирішити спір мирним шляхом.
    </p>
  </article>
</div>
