<section>
  <div class="container container--service">
    <h2 class="section__heading">ПОСЛУГИ</h2>
    <div class="section">
      <img
        src="./images/service_image.jpg"
        alt="мужское рукопожатие"
        class="service__img"
      />
      <div class="wrapper">
        <div class="wrapper--service">
          <h4 class="service__heading service__heading--first">
            <a href="#"> ПОСЛУГИ ДЛЯ БІЗНЕСУ</a>
          </h4>
          <ul class="list--service">
            <li class="list__item--service">ДОСУДОВЕ УРЕГУЛЮВАННЯ СПОРІВ</li>
            <li class="list__item--service">КОРПОРАТИВНІ СПОРИ</li>
            <li class="list__item--service">РЕЄСТРАЦІЯ ПІДПРИЄМСТВ</li>
            <li class="list__item--service">
              АБОНЕНТСЬКЕ ЮРИДИЧНЕ ОБСЛУГУВАННЯ
            </li>
          </ul>

          <h4 class="service__heading">
            <a href="#">ПРЕДСТАВНИЦТВО В СУДІ</a>
          </h4>

          <h4 class="service__heading">
            <a href="#">ДОГОВІРНІ ВІДНОСИНИ</a>
          </h4>
          <ul class="list--service">
            <li class="list__item--service">ПРАВОВИЙ АНАЛІЗ ДОГОВОРУ</li>
            <li class="list__item--service">ПІДГОТОВКА ДОГОВОРУ</li>
            <li class="list__item--service">ЮРИДИЧНИЙ СУПРОВІД ДОГОВОРУ</li>
          </ul>

          <h4 class="service__heading">
            <a href="#">ПОСЛУГИ ДЛЯ ФІЗИЧНИХ ОСІБ</a>
          </h4>
          <ul class="list--service">
            <li class="list__item--service">ПРЕДСТАВНИЦТВО В СУДІ</li>
            <li class="list__item--service">ЦИВІЛЬНІ СПРАВИ</li>
            <li class="list__item--service">
              ПРЕДСТАВНИЦТВО В ДЕРЖАВНИХ ОРГАНАХ
            </li>
            <li class="list__item--service">КРИМІНАЛЬНІ СПРАВИ</li>
          </ul>

          <h4 class="service__heading">
            <a href="#">ДОПОМОГА ПРИ ДТП</a>
          </h4>
          <ul class="list--service">
            <li class="list__item--service">ОПЕРАТИВНА КОНСУЛЬТАЦІЯ ПРИ ДТП</li>
            <li class="list__item--service">ДОСУДОВИЙ АНАЛІЗ СПРАВИ</li>
            <li class="list__item--service">
              ПРЕДСТАВНИЦТВО В СТРАХОВИХ КОМПАНІЯХ
            </li>
            <li class="list__item--service">
              ПРЕДСТАВНИЦТВО ІНТЕРЕСІВ У КРИМІНАЛЬНОМУ ПРОЦЕСІ
            </li>
          </ul>

          <h4 class="service__heading">
            <a href="#">ЮРИДИЧНІ КОНСУЛЬТАЦІЇ</a>
          </h4>
          <ul class="list--service">
            <li class="list__item--service">ПИСЬМОВА ЮРИДИЧНА КОНСУЛЬТАЦІЯ</li>
            <li class="list__item--service">УСНА ЮРИДИЧНА КОНСУЛЬТАЦІЯ</li>
          </ul>

          <h4 class="service__heading">
            <a href="#">МЕДІАЦІЯ</a>
          </h4>
        </div>

        <div class="wrapper--decorative">
          <img
            src="./images/decorblock_service-blue.svg"
            alt=""
            class="decorblock"
          />
          <img
            src="./images/decorblock_service-white.svg"
            alt=""
            class="decorblock"
          />
        </div>
      </div>
    </div>
  </div>
</section>
